.nastolka {
    color: brown;
    border-bottom: 2px solid navy;
    text-align: center;
    background-color: lightgreen;
}

.fishki {
    width: 200px;
    height: 400px;
}

td {
    border: 2px solid green;
    background-color: lightblue;
}

th {
    border: 2px solid brown;
    background-color: lightgreen;
    color: navy;
}

main {
    border: 3px solid brown;
    border-radius: 10px;
    padding: 10px; 
}

a {
    text-align: center;
    text-decoration: none;
    border: 2px solid blue;
    background-color: brown;
    color: white;
    border-radius: 10px;
    padding: 5 px;
}
p {
    font-size: 20px;
}
